<a href="https://colab.research.google.com/github/callaghan210-coder/Data-Science/blob/main/Loan_default_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#load our dataset
df = pd.read_csv('/content/Default_Fin.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Employed       10000 non-null  int64
 2   Bank Balance   10000 non-null  float64
 3   Annual Salary  10000 non-null  float64
 4   Defaulted?     10000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 390.8 KB

In [4]:
df.shape

(10000, 5)

In [5]:
df.isnull().sum()

Index            0
Employed         0
Bank Balance     0
Annual Salary    0
Defaulted?       0
dtype: int64

In [6]:
df['Defaulted?'].value_counts()

Defaulted?
0    9667
1     333
Name: count, dtype: int64

In [7]:
#we can see our target is in 0 and 1 hence logistic regression is the best model to use

In [8]:
df.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

In [9]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
#

In [10]:
from sklearn.preprocessing import StandardScaler

# Assume df is your dataframe
scaler = StandardScaler()

# Scale the relevant columns
df[['Bank Balance', 'Annual Salary']] = scaler.fit_transform(df[['Bank Balance', 'Annual Salary']])

In [11]:
features=['Employed','Bank Balance','Annual Salary']
X=df[features]

y=df['Defaulted?']

In [12]:
#FIRST SPLIT
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=105)

In [13]:
#SECOND SPLIT TO HOLD OUT SOME DATA SO AS WE CAN EVALUATE OUR MODEL ON NEW DATA
X_val,X_holdout,y_val,y_holdout=train_test_split(X_test,y_test,test_size=0.5,random_state=105)

In [14]:
model=LogisticRegression()
model.fit(X_train,y_train)

prediction=model.predict(X_val)

print(accuracy_score(y_val,prediction))#the model gets a 97% accuracy with the testing data,this is quite intresting

0.972

In [15]:
#prediction on new data that the model hasnt seen
final_prediction=model.predict(X_holdout)
print(accuracy_score(y_holdout,final_prediction))

0.974

# lets save our model and use it to predict later

In [16]:
import pickle
import joblib

In [17]:
list(X.columns)

['Employed', 'Bank Balance', 'Annual Salary']

In [18]:
joblib.dump(model,'model.pkl')

['model.pkl']

In [19]:
joblib.dump(list(X.columns),'columns.pkl')

['columns.pkl']

In [20]:
load_model=joblib.load('model.pkl')

In [21]:
df.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1     -0.218828       0.813188           0
1      2         0     -0.037617      -1.605496           0
2      3         1      0.492412      -0.131212           0
3      4         1     -0.632894       0.164031           0
4      5         1     -0.102782       0.370915           0

In [22]:
joblib.dump(scaler,'scaler.pkl')

['scaler.pkl']

In [24]:
import numpy as np
# Load the scaler (assuming you saved it earlier after training)
scaler = joblib.load('scaler.pkl')  # This assumes the scaler was saved in a .pkl file

# Create a new input array (make sure the values match the feature order)
new_input = np.array([ 6351.00, 428453.88])  # Adjust the number of features

# Scale the new input using the same scaler used during training
new_input_scaled = scaler.transform(new_input.reshape(1, -1))

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [26]:
new_input_scaled

array([[-0.63289377,  0.16403064]])

In [27]:
prediction=load_model.predict([[1,-0.63289377,  0.16403064]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [28]:
prediction

array([0])

In [25]:
#i actually took the values of the first row and used them to see if the model can predict right
#the prediction returned [0].......this is correct.